<div class="row">
  <div class="col-12 mx-auto">
    <h4 class="my-4 text-center">
      <%= t('.header') %>
    </h4>
    <%= link_to new_recipient_path, class: 'float-right btn btn-sm btn-primary my-2' do %>
      <%= t('.new_recipient') %>
      <i class="fas fa-plus"></i>
    <% end %>
    <%= render 'shared/recipients/table', recipients: @recipients %>
  </div>
</div>
