DEFAULT_HOST: ''
ENABLE_REGISTRATION: 'true'
EMAIL_SENDER: ''
MAILER_API_KEY: ''
MAILER_API_URL: ''
MAILER_USERNAME: ''
MAILER_PASSWORD: ''
MAILER_DOMAIN: ''
MAILER_HOSTNAME: ''
MAILER_PORT: ''
ROLLBAR_ACCESS_TOKEN: ''