<div class="row">
  <div class="col-11 col-md-5 mx-auto">
    <h4 class="my-4 text-center">
      <%= t('.header') %>
    </h4>
    <%= render 'form', sender: @sender, url: sender_url(@sender) %>
    <%= link_to t('.back'), senders_path, class: 'btn btn-sm btn-block btn-link' %>
  </div>
</div>
