<p><%= t('.hello', name: @resource.name) %></p>
<p><%= t('.instructions') %></p>
<p><%= link_to t('.change'), edit_password_url(@resource, reset_password_token: @token) %></p>
<p><%= t('.ignore') %></p>