<div class="row">
  <div class="col-12 mx-auto">
    <h4 class="my-4 text-center">
      <%= @list.name %>
    </h4>
    <%= render 'shared/recipients/table', recipients: @recipients %>
    <%= link_to t('.back'), recipient_lists_path, class: 'btn btn-sm btn-block btn-link' %>
  </div>
</div>
